<div>
  <div class="d-flex justify-content-center">
    <div class="col-md-6 mt-5">
      <h2 class="text-center">Affectations de: <span class="text-primary">{{name}}</span> </h2>
    </div>
  </div>

  <div class="input-group my-5">
    <span class="input-group-text" id="basic-addon1"><i class="bi bi-search"></i></span>
    <input type="text" class="form-control" placeholder="Entrez par exemple '2020-W24' pour rechercher"
      aria-describedby="basic-addon1" [(ngModel)]="search" name="search" (ngModelChange)="[Search(), page = 1]">
  </div>

</div>
<div class="row">
  <pagination-controls *ngIf="isAffectationExist" class="text-center my-pagination" (pageChange)="page = $event">
  </pagination-controls>
  <div class="col-md-6" *ngFor="let affectation of affectations | 
        paginate: { itemsPerPage: 12,
           currentPage: page,
          totalItems: totalLength }">
    <div class="card border-primary mb-3">
      <div class="card-header">
        <h4 class="card-title"> {{ affectation.semaine }} <span class="float-end"> {{ affectation.mois }} </span></h4>
      </div>
      <div class="card-body">

        <ul class="list-group list-group-flush">
          <li class="list-group-item text-center fs-2"><strong>{{ affectation.activity_name }}</strong></li>

        </ul>
      </div>
    </div>
  </div>
  <pagination-controls *ngIf="isAffectationExist" class="text-center my-pagination" (pageChange)="page = $event">
  </pagination-controls>
</div>

<div class="alert alert-danger" *ngIf="!isAffectationExist" role="alert">
  <h4 class="alert-heading">Info!</h4>
  <hr>
  <p>Il n'ya pas encore "Affectations".</p>
</div>