<div>
    <div class="d-flex justify-content-center">
      <div class="col-md-6 mt-5">
          <h2 class="text-center">List of activities</h2>
      </div>
    </div>
     
    <div class="input-group my-5">
      <span class="input-group-text" id="basic-addon1">Search</span>
      <input type="text" class="form-control" placeholder="Enter 'Activity Name' to search" [(ngModel)]="activityName" name="activityName" aria-describedby="basic-addon1"  (ngModelChange)="[Search(), page = 1]">
    </div>

      <div class="my-3" style="text-align: right;">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo" (click)="clearactivityInputs()">new Activity</button>
      </div>
  </div>
  
    <div class="row">
      <pagination-controls *ngIf="isActivityExist" class="text-center my-pagination" (pageChange)="page = $event"></pagination-controls>
        <div class="col-md-6" *ngFor="let activity of activities | 
        paginate: { itemsPerPage: 10,
           currentPage: page,
          totalItems: totalLength }">
            <div class="card border-primary mb-3">
                <div class="card-header"><h4 class="card-title text-center"> {{ activity.name }}
                </h4>
                   
                </div>
                <div class="card-body">
                  
                  <ul class="list-group list-group-flush">
                   
                    <li class="list-group-item text-center">
                      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editModal" data-bs-whatever="@mdo" (click)="edit(activity)">edit</button>
                      <button class="btn btn-dark mx-2" data-bs-toggle="modal" data-bs-target="#deleteModal" data-bs-whatever="@mdo" (click)="edit(activity)">Delete</button>
                    </li>
                  </ul>
                </div>
              </div>
        </div>
        <pagination-controls *ngIf="isActivityExist" class="text-center my-pagination" (pageChange)="page = $event"></pagination-controls>
      
    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">New Activity</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form #f="ngForm">
                <div class="mb-3">
                  <label for="city" class="col-form-label">activity_Name</label>
                  <input required  ngModel name="name" #name="ngModel" [(ngModel)]="activity.name"  id="name" type="text" class="form-control">
                <div class="alert alert-danger" *ngIf="name.touched && !name.valid">
                  <div *ngIf="name.errors?.required">Ce champ required!</div>
                </div>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" [disabled]="!f.valid" (click)="createActivity()">Ajouter</button>
            </div>
          </div>
        </div>
      </div>


      <!-- edit modal -->

<div class="modal fade" id="editModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editModalLabel">Update Activity</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="getAllActivities()" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form #f="ngForm">
            <div class="mb-3">
              <label for="name" class="col-form-label">name</label>
              <input required ngModel name="name" #name2="ngModel" [(ngModel)]="activity.name"  id="name" type="text" class="form-control">
            <div class="alert alert-danger" *ngIf="name2.touched && !name2.valid">
              <div *ngIf="name2.errors?.required">Ce champ required!</div>
            </div>
            </div>
            
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="getAllActivities()" >Close</button>
          <button type="button" class="btn btn-warning" [disabled]="!f.valid" (click)="updateActivity(activity)" data-bs-dismiss="modal">Modifier</button>
        </div>
      </div>
    </div>
  </div>
      


  <!-- Delete Modal -->

<div class="modal fade"  id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editModalLabel">Info:</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"  aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>
          All of his 'Affectations' will be deleted
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-warning" (click)="deleteActivity(activity)" data-bs-dismiss="modal">Delete</button>
      </div>
    </div>
  </div>
</div>