<div>
  <div class="d-flex justify-content-center">
    <div class="col-md-6 mt-5">
        <h2 class="text-center">Affectations of: <span class="text-primary">{{firstName}} {{lastName}}</span> </h2>
    </div>
  </div>
   
  <div class="input-group my-5">
    <span class="input-group-text" id="basic-addon1">Search</span>
    <input type="text" class="form-control" placeholder="Enter for exemple '2020-W24' to search" aria-describedby="basic-addon1" [(ngModel)]="search" name="search"  (ngModelChange)="[Search(), page = 1]">
  </div>
  

    <div class="my-3" style="text-align: right;">
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo" (click)="clearInputs()">new Affectation</button>
    </div>
</div>
  <div class="row">
    <pagination-controls *ngIf="isAffectationExist" class="text-center my-pagination" (pageChange)="page = $event"></pagination-controls>
      <div class="col-md-6" *ngFor="let affectation of affectations | 
      paginate: { itemsPerPage: 12,
         currentPage: page,
        totalItems: totalLength }">
          <div class="card border-primary mb-3">
              <div class="card-header"><h4 class="card-title">{{ affectation.semaine }} <span class="float-end"> {{ affectation.mois }} </span></h4></div>
              <div class="card-body">
                
                <ul class="list-group list-group-flush">
                  <li class="list-group-item text-center fs-2"><strong>{{ affectation.activity_name }}</strong></li>
                  <li class="list-group-item text-center">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editModal" data-bs-whatever="@mdo" (click)="edit(affectation)">edit</button>
                    <button class="btn btn-dark mx-2"  data-bs-toggle="modal" data-bs-target="#deleteModal" data-bs-whatever="@mdo" (click)="edit(affectation)">Delete</button>
                  </li>
                </ul>
              </div>
            </div>
      </div>
      <pagination-controls *ngIf="isAffectationExist" class="text-center my-pagination" (pageChange)="page = $event"></pagination-controls>
  </div>

  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">New Affectation</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form #f="ngForm">
           
            <div class="mb-3" >
              <label for="exampleSelect1" class="form-label">select Activity</label>
               <select class="form-select"  id="exampleSelect1"
               name="activity_id" [(ngModel)]="affectation.activity_id">
                <option  
                 *ngFor="let activity of activities" [ngValue]="activity.id" >{{activity.name}}</option>
              </select>

            </div>

            <div class="mb-3" >
              <label for="exampleSelect2" class="form-label">select mois</label>
               <select class="form-select"  id="exampleSelect2"
               name="mois" [(ngModel)]="affectation.mois">
                <option  
                value="Janvier" >Janvier</option>
                  <option  
                  value="Fevrier" >Fevrier</option>
                  <option  
                  value="Mars" >Mars</option>
                  <option  
                  value="Avril" >Avril</option>
                  <option  
                  value="Mai" >Mai</option>
                  <option  
                  value="Juin" >Juin</option>
                  <option  
                  value="Juillet" >Juillet</option>
                  <option  
                  value="Aout" >Aout</option>
                  <option  
                  value="Septembre" >Septembre</option>
                  <option  
                  value="Octobre" >Octobre</option>
                  <option  
                  value="Novembre" >Novembre</option>
                  <option  
                  value="Decembre" >Decembre</option>
              </select>

            </div>

            <div class="mb-3">
              <label for="semaine" class="col-form-label">semaine</label>
              <input required  ngModel name="semaine" #semaine="ngModel" [(ngModel)]="affectation.semaine"  id="semaine" type="week" class="form-control">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" [disabled]="!f.valid" (click)="createAffectation()">Ajouter</button>
        </div>
      </div>
    </div>
  </div>



   <!-- edit modal -->

<div class="modal fade" id="editModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editModalLabel">Update Affectation</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="getAffectations()" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form #fe="ngForm">
          <div class="mb-3" >
            <label for="exampleSelect1" class="form-label">select Activity</label>
             <select class="form-select"  id="exampleSelect1"
             name="activity_id" [(ngModel)]="affectation.activity_id">
              <option  
               *ngFor="let activity of activities" [ngValue]="activity.id" >{{activity.name}}</option>
            </select>

          </div>

         
          <div class="mb-3" >
            <label for="exampleSelect2" class="form-label">select mois</label>
             <select class="form-select"  id="exampleSelect2" aria-label="Floating label select example"
             name="mois" [(ngModel)]="affectation.mois">
              <option  
              value="Janvier" >Janvier</option>
                <option  
                value="Fevrier" >Fevrier</option>
                <option  
                value="Mars" >Mars</option>
                <option  
                value="Avril" >Avril</option>
                <option  
                value="Mai" >Mai</option>
                <option  
                value="Juin" >Juin</option>
                <option  
                value="Juillet" >Juillet</option>
                <option  
                value="Aout" >Aout</option>
                <option  
                value="Septembre" >Septembre</option>
                <option  
                value="Octobre" >Octobre</option>
                <option  
                value="Novembre" >Novembre</option>
                <option  
                value="Decembre" >Decembre</option>
            </select>

          </div>

          <div class="mb-3">
            <label for="semaine" class="col-form-label">semaine</label>
            <input required  ngModel name="semaine" #semaine="ngModel" [(ngModel)]="affectation.semaine"  id="semaine" type="week" class="form-control">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="getAffectations()">Close</button>
        <button type="button" class="btn btn-warning" data-bs-dismiss="modal" (click)="updateAffectation(affectation)" [disabled]="!fe.valid">Modifier</button>
      </div>
    </div>
  </div>
</div>
    

<!-- Delete Modal -->

<div class="modal fade"  id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editModalLabel">Info:</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"  aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>
          Are you sure?
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-warning" (click)="deleteAffectation(affectation)" data-bs-dismiss="modal">Delete</button>
      </div>
    </div>
  </div>
</div>