<div>
  <div class="d-flex justify-content-center">
    <div class="col-md-6 mt-5">
        <h2 class="text-center">List of users</h2>
    </div>
  </div>

  <div class="input-group my-5">
    <span class="input-group-text" id="basic-addon1">Search</span>
    <input type="text" class="form-control" placeholder="Enter 'name' to search" [(ngModel)]="name" name="name" aria-describedby="basic-addon1"  (ngModelChange)="[Search(), page = 1]">
  </div>

  
    <div class="my-3" style="text-align: right;">
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo" (click)="clearInputs()">new</button>
    </div>
</div>

  <div class="row">
    <pagination-controls class="text-center my-pagination" (pageChange)="page = $event"></pagination-controls>
      <div class="col-md-6" *ngFor="let user of users | 
      paginate: { itemsPerPage: 6,
         currentPage: page,
        totalItems: totalLength }">
          <div class="card border-primary mb-3">
              <div class="card-header"><h4 class="card-title"> {{ user.firstName }} {{ user.lastName }}
               <span class="float-end"> <button class="btn btn-info" [routerLink]="['/affectation', user.userId ]"
                [queryParams]="{ firstName: user.firstName, lastName: user.lastName, id: user.id }">plus...</button> </span>
              </h4>
                 
              </div>
              <div class="card-body">
                
                <ul class="list-group list-group-flush">
                  <li class="list-group-item text-center"><strong>email:</strong> {{ user.email }}</li>
                  <li class="list-group-item text-center fs-6 text-primary" *ngIf="user.admin != true"><strong>Ingenieur</strong> </li>
                  <li class="list-group-item text-center fs-6 text-primary" *ngIf="user.admin == true"><strong>Manager</strong> </li>
                  
                  <li class="list-group-item text-center">
                    <button type="button" class="btn btn-primary" (click)="edit(user)" data-bs-toggle="modal" data-bs-target="#editModal" data-bs-whatever="@mdo">edit</button>
                    <button class="btn btn-dark mx-2" data-bs-toggle="modal" (click)="edit(user)" data-bs-target="#deleteModal" data-bs-whatever="@mdo">Delete</button>
                  </li>
                </ul>
              </div>
            </div>
      </div>      
      <pagination-controls class="text-center my-pagination" (pageChange)="page = $event"></pagination-controls>

  </div>

  
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">New User</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form #f="ngForm">
            <div class="mb-3">
              <label for="firstName" class="col-form-label">firstName</label>
              <input required ngModel name="firstName" #firstName="ngModel" [(ngModel)]="user.firstName"  id="firstName" type="text" class="form-control">
            <div *ngIf="firstName.touched && !firstName.valid">
              <div *ngIf="firstName.errors?.required" style="color: red;">*Ce champ required!</div>
            </div>
            </div>
            <div class="mb-3">
              <label for="lastName" class="col-form-label">lastName:</label>
              <input required [(ngModel)]="user.lastName" name="lastName" #lastName="ngModel" id="lastName" type="text" class="form-control">
              <div *ngIf="lastName.touched && !lastName.valid">
                <div *ngIf="lastName.errors?.required" style="color: red;">*Ce champ required!</div>
              </div>
            </div>
            <div class="mb-3">
              <label for="email" class="col-form-label">email:</label>
              <input required [(ngModel)]="user.email" name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
               #email="ngModel" id="email" type="email" class="form-control">
              <div *ngIf="email.touched && !email.valid">
                <div *ngIf="email.errors?.required" style="color: red;">*this field is required!</div>
                <div *ngIf="email.errors?.pattern" style="color: red;">*should be email!</div>
              </div>
            </div>
            <div class="mb-3">
              <label for="password" class="col-form-label">password:</label>
              <input required [(ngModel)]="user.password" name="password" #password="ngModel" id="password" type="text" class="form-control">
              <div *ngIf="password.touched && !password.valid">
                <div *ngIf="password.errors?.required" style="color: red;">*this field is required!</div>
              </div>
            </div>
  
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" [disabled]="!f.valid" (click)="createUser()">Ajouter</button>
        </div>
      </div>
    </div>
  </div>
  
  
  <!-- edit modal -->

<div class="modal fade" data-bs-backdrop="static"  id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editModalLabel">Update Colab</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="getAllUsers()" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form #fe="ngForm">
         <div class="mb-3">
              <label for="firstName" class="col-form-label">firstName</label>
              <input required ngModel name="firstName" #first="ngModel" [(ngModel)]="user.firstName"  id="firstName" type="text" class="form-control">
            <div *ngIf="first.touched && !first.valid">
              <div *ngIf="first.errors?.required" style="color: red;">*Ce champ required!</div>
            </div>
            </div>
            <div class="mb-3">
              <label for="lastName" class="col-form-label">lastName:</label>
              <input required [(ngModel)]="user.lastName" name="lastName" #last="ngModel" id="lastName" type="text" class="form-control">
              <div *ngIf="last.touched && !last.valid">
                <div *ngIf="last.errors?.required" style="color: red;">*Ce champ required!</div>
              </div>
            </div>
            <div class="mb-3">
              <label for="email" class="col-form-label">email:</label>
              <input required [(ngModel)]="user.email" name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
               #email2="ngModel" id="email" type="email" class="form-control">
              <div *ngIf="email2.touched && !email2.valid">
                <div *ngIf="email2.errors?.required" style="color: red;">*this field is required!</div>
                <div *ngIf="email2.errors?.pattern" style="color: red;">*should be email!</div>
              </div>
            </div>
         
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="getAllUsers()">Close</button>
        <button type="button" class="btn btn-warning" (click)="updateUser(user)" [disabled]="!fe.valid" data-bs-dismiss="modal">Modifier</button>
      </div>
    </div>
  </div>
</div>

<!-- Delete Modal -->


<div class="modal fade"  id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editModalLabel">Info:</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="getAllUsers()" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>
          All of his 'Affectations' will be deleted
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="getAllUsers()">Close</button>
        <button type="button" class="btn btn-warning" (click)="deleteUser(user)"  data-bs-dismiss="modal">Delete</button>
      </div>
    </div>
  </div>
</div>